- title @client.name
.hero-unit
  %p
    %h2.fell= @client.name
  .hero-right
    %h6.virtue= "Virtues: " + @client.virtues.join(", ")
    %h6.sin= "Sins: " + @client.sins.join(", ")
  %p
    %b Email: 
    = link_to @client.email, "mailto:#{@client.email}"
  %p
    %b Homepage: 
    = link_to @client.homepage, @client.homepage
  %p
    = link_to "Praise", new_client_accolade_path(@client), :class => 'btn btn-info'
    = link_to "Condemn", new_client_accusation_path(@client), :class => 'btn btn-danger'
%ul#reportTab.nav.nav-tabs
  %li.active
    %a(href="#all" data-toggle="tab") All Reports
  %li
    %a(href="#accusations" data-toggle="tab") Accusations
  %li
    %a(href="#accolades" data-toggle="tab") Accolades

/ Some of this still needs to be fixed.
.tab-content
  .tab-pane.active#all
    - @client.reports.each do |report|
      %h3= report.title
      %h6= report.virtues.join(", ")
      %h6= report.sins.join(", ")
      %p= report.description
      - unless report.anonymous
        %h6
          Submitted by
          = gravatar_image_tag(report.user.email, :gravatar => { :size => 20 })
          = report.user.username
      - else
        %h6 Submitted anonymously
  .tab-pane#accusations
    - @client.accusations.each do |accusation|
      %h3= accusation.title
      %h6= accusation.sins.join(", ")
      %p= accusation.description
      - unless accusation.anonymous
        %h6
          Submitted by
          = gravatar_image_tag(accusation.user.email, :gravatar => { :size => 20 })
          = accusation.user.username
      - else
        %h6 Submitted anonymously
  .tab-pane.active#accolades
    - @client.accolades.each do |accolade|
      %h3= accolade.title
      %h6= accolade.virtues.join(", ")
      %p= accolade.description
      - unless accolade.anonymous
        %h6
          Submitted by
          = gravatar_image_tag(accolade.user.email, :gravatar => { :size => 20 })
          = accolade.user.username
      - else
        %h6 Submitted anonymously

