= simple_form_for(@accusation, :html => {:class => "form-vertical"}) do |f|
  = f.input :title
  = f.input :description
  = f.input :sin_list
  - if params[:client_id]
    = f.hidden_field :client_id, :value => params[:client_id]
  - else
    = f.association :client
  = f.hidden_field :user_id, :value => current_user.id

  = f.submit